In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
# Creating a DataFrame with sample data
data = pd.DataFrame({
    'gpa': [3.5, 2.0, 3.8, 2.8, 3.2],
    'income': [30000, 45000, 29000, 42000, 33000],
    'approved': [True, False, True, False, True]  # This is the target variable
})

# Display the DataFrame
data

   gpa  income  approved
0  3.5   30000      True
1  2.0   45000     False
2  3.8   29000      True
3  2.8   42000     False
4  3.2   33000      True

In [6]:
v# X contains the features, y contains the target variable
X = data[['gpa', 'income']]  # features
y = data['approved']  # target

# Splitting the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# Display the shapes of the resulting feature sets
X_train.shape, X_test.shape, y_train.shape, y_test.shape

NameError: name 'v' is not defined