In [86]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
import shap
import matplotlib.pyplot as plt
import seaborn as sns

In [87]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Load data
data = pd.read_csv('/Users/janewambui/mscproject/student_data.csv')

# Handle missing values:
# Calculate mean only for numeric columns
numeric_cols = data.select_dtypes(include=[np.number]).columns
data[numeric_cols] = data[numeric_cols].fillna(data[numeric_cols].mean())

# If you have categorical data, you can fill missing values with the mode or a placeholder
categorical_cols = data.select_dtypes(include=['object']).columns
data[categorical_cols] = data[categorical_cols].fillna(data[categorical_cols].mode().iloc[0])

# Correct target column name used here
X = data.drop('Loan_Approval', axis=1)  # Use the correct column name
y = data['Loan_Approval']

# Update numeric_cols to only include columns that are still in X
numeric_cols = X.select_dtypes(include=[np.number]).columns

# Scaling the features (only apply scaling to numeric columns)
scaler = StandardScaler()
X_scaled = pd.DataFrame(scaler.fit_transform(X[numeric_cols]), columns=numeric_cols)
X_non_scaled = X.drop(columns=numeric_cols)
X_final = pd.concat([X_scaled, X_non_scaled], axis=1)

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_final, y, test_size=0.2, random_state=42)

In [88]:
print(data.head())  # Print the first few rows of the dataset
print(data.describe())  # Summary statistics for numeric columns
print(data.info())  # Get a concise summary of the dataframe

   Student_ID   GPA Course_of_Study Year_of_Study  Household_Income  \
0           1  2.75            Arts      Freshman             32183
1           2  3.90        Sciences      Freshman             49299
2           3  3.46            Arts        Junior             32874
3           4  3.20     Engineering     Sophomore             52711
4           5  2.31        Sciences     Sophomore             25539

   Part_Time_Job_Income  Financial_Support  Existing_Student_Debt  \
0                   653               1679                   4946
1                   971               3506                  11769
2                  1906               2744                   5486
3                   470               3356                   8335
4                  1166               4045                   4980

   Tuition_Cost  Loan_Approval
0          5504              0
1          6214              1
2          6531              1
3         16632              0
4         12576              0
       Student_ID         GPA  Household_Income  Part_Time_Job_Income  \
count  100.000000  100.000000        100.000000            100.000000
mean    50.500000    2.940200      58124.710000           1033.860000
std     29.011492    0.594857      23549.038306            531.778416
min      1.000000    2.010000      20301.000000              4.000000
25%     25.750000    2.385000      38459.250000            654.500000
50%     50.500000    2.925000      60277.000000           1002.500000
75%     75.250000    3.460000      75183.750000           1429.500000
max    100.000000    3.970000      99909.000000           1986.000000

       Financial_Support  Existing_Student_Debt  Tuition_Cost  Loan_Approval
count          100.00000             100.000000    100.000000      100.00000
mean          2552.82000            7394.410000  12160.020000        0.43000
std           1283.08441            3572.624792   4399.093835        0.49757
min            114.00000             953.000000   5009.000000        0.00000
25%           1570.25000            4821.500000   8458.500000        0.00000
50%           2759.00000            7253.500000  12108.000000        0.00000
75%           3516.00000           10159.500000  16130.750000        1.00000
max           4968.00000           14683.000000  19837.000000        1.00000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Student_ID             100 non-null    int64
 1   GPA                    100 non-null    float64
 2   Course_of_Study        100 non-null    object
 3   Year_of_Study          100 non-null    object
 4   Household_Income       100 non-null    int64
 5   Part_Time_Job_Income   100 non-null    int64
 6   Financial_Support      100 non-null    int64
 7   Existing_Student_Debt  100 non-null    int64
 8   Tuition_Cost           100 non-null    int64
 9   Loan_Approval          100 non-null    int64
dtypes: float64(1), int64(7), object(2)
memory usage: 7.9+ KB
None

In [89]:
print("Numeric columns:", numeric_cols)
print("Categorical columns:", categorical_cols)

Numeric columns: Index(['Student_ID', 'GPA', 'Household_Income', 'Part_Time_Job_Income',
       'Financial_Support', 'Existing_Student_Debt', 'Tuition_Cost'],
      dtype='object')
Categorical columns: Index(['Course_of_Study', 'Year_of_Study'], dtype='object')

In [90]:
print(X_scaled.head())  # Check the first few rows of the scaled data

   Student_ID       GPA  Household_Income  Part_Time_Job_Income  \
0   -1.714816 -0.321352         -1.107153             -0.719809
1   -1.680173  1.621626         -0.376668             -0.118803
2   -1.645531  0.878226         -1.077663              1.648306
3   -1.610888  0.438944         -0.231049             -1.065671
4   -1.576245 -1.064752         -1.390709              0.249739

   Financial_Support  Existing_Student_Debt  Tuition_Cost
0          -0.684462              -0.688778     -1.520666
1           0.746624               1.230644     -1.358456
2           0.149751              -0.536867     -1.286033
3           0.629130               0.264603      1.021690
4           1.168822              -0.679213      0.095037

In [91]:
print(X_final.head())  # Inspect the first few rows of the final dataset
print(X_final.describe())  # Summary statistics of the final dataset

   Student_ID       GPA  Household_Income  Part_Time_Job_Income  \
0   -1.714816 -0.321352         -1.107153             -0.719809
1   -1.680173  1.621626         -0.376668             -0.118803
2   -1.645531  0.878226         -1.077663              1.648306
3   -1.610888  0.438944         -0.231049             -1.065671
4   -1.576245 -1.064752         -1.390709              0.249739

   Financial_Support  Existing_Student_Debt  Tuition_Cost Course_of_Study  \
0          -0.684462              -0.688778     -1.520666            Arts
1           0.746624               1.230644     -1.358456        Sciences
2           0.149751              -0.536867     -1.286033            Arts
3           0.629130               0.264603      1.021690     Engineering
4           1.168822              -0.679213      0.095037        Sciences

  Year_of_Study
0      Freshman
1      Freshman
2        Junior
3     Sophomore
4     Sophomore
         Student_ID           GPA  Household_Income  Part_Time_Job_Income  \
count  1.000000e+02  1.000000e+02      1.000000e+02          1.000000e+02
mean   4.440892e-18 -1.338929e-15      5.551115e-17          1.709743e-16
std    1.005038e+00  1.005038e+00      1.005038e+00          1.005038e+00
min   -1.714816e+00 -1.571616e+00     -1.614260e+00         -1.946390e+00
25%   -8.574080e-01 -9.380360e-01     -8.392925e-01         -7.169737e-01
50%    0.000000e+00 -2.568110e-02      9.185653e-02         -5.926902e-02
75%    8.574080e-01  8.782260e-01      7.280544e-01          7.477422e-01
max    1.714816e+00  1.739895e+00      1.783291e+00          1.799503e+00

       Financial_Support  Existing_Student_Debt  Tuition_Cost
count       1.000000e+02           1.000000e+02  1.000000e+02
mean       -1.429412e-16           6.217249e-17 -9.547918e-17
std         1.005038e+00           1.005038e+00  1.005038e+00
min        -1.910324e+00          -1.812074e+00 -1.633756e+00
25%        -7.696454e-01          -7.238017e-01 -8.456668e-01
50%         1.615004e-01          -3.964029e-02 -1.188474e-02
75%         7.544572e-01           7.778651e-01  9.071718e-01
max         1.891806e+00           2.050400e+00  1.753919e+00

In [92]:
print("Training data shape:", X_train.shape)
print("Test data shape:", X_test.shape)

Training data shape: (80, 9)
Test data shape: (20, 9)